.Queue {
  text-align: center;
}

.session {
  text-align: left
}

.sessionCloseBtn {
  text-align: right
}

.scroll-table {
  overflow-x: auto;
}

.green {
  color: green;
}

.black {
  color: black;
}